@model Gift
@{
    ViewData["Title"] = "Edit Gift";
    Layout = "~/Views/Shared/_MakerLayout.cshtml";
}

<div class="row" style="padding-top: 12rem;">
    <h2 class="col-md-12 d-flex justify-content-center align-items-center">Edit Gift</h2>
    <br />
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <form asp-controller="GiftMaker" asp-action="EditGift" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GiftMakerId" />
            <input type="hidden" asp-for="CategoryId" />
            <input type="hidden" asp-for="AddedDate" />
            <input type="hidden" asp-for="ImagePath" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale" class="control-label"></label>
                <input asp-for="Sale" class="form-control" />
                <span asp-validation-for="Sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="@Url.Content("~/images/" +  Model.ImagePath)" width="100" height="100" alt="gift image" />
            </div>
            <div class="form-group d-flex justify-content-center align-items-center">
                <input type="submit" value="Edit" class="genric-btn primary circle" style="border: none; margin-right: 10px;" />
                <a asp-action="MyProducts" class="genric-btn primary circle">Back to List</a>
            </div>
            
        </form>
    </div>
</div>


