@model Gifts_Store.Models.UserLogin
@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_MakerLayout.cshtml";
}

<div class="billing_details" style="padding-top: 12rem; padding-bottom: 4rem;">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body contact_form">
                    <center><h3>My Profile</h3></center>
                    <br />
                    <div class="form-group row justify-content-center">
                        <label for="Username" class="col-sm-4 col-form-label font-weight-bold">Username</label>
                        <div class="col-sm-6">
                            <div class="form-control border-0 text-dark" id="Username" name="Username">
                                @Model.UserName
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="Email" class="col-sm-4 col-form-label font-weight-bold">Email</label>
                        <div class="col-sm-6">
                            <div class="form-control border-0 text-dark" id="Email" name="Email">
                                @Model.Email
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="Fname" class="col-sm-4 col-form-label font-weight-bold">First name</label>
                        <div class="col-sm-6">
                            <div class="form-control border-0 text-dark" id="Fname" name="Fname">
                                @Model?.User?.Fname
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="Lname" class="col-sm-4 col-form-label font-weight-bold">Last name</label>
                        <div class="col-sm-6">
                            <div class="form-control border-0 text-dark" id="Lname" name="Lname">
                                @Model?.User?.Lname
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="CategoryName" class="col-sm-4 col-form-label font-weight-bold">Category name</label>
                        <div class="col-sm-6">
                            <div class="form-control border-0 text-dark" id="CategoryName" name="CategoryName">
                                @ViewBag.categoryName
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="ImagePath" class="col-sm-4 col-form-label font-weight-bold">Profile photo</label>
                        <div class="col-sm-6">
                            <div id="ImagePath" name="ImagePath">
                                <img src="@Url.Content("~/images/" + Model?.User?.ImagePath)" width="100" height="100" alt="user image" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="offset-sm-4 col-sm-6">
                            <a asp-controller="GiftMaker" asp-action="EditProfile" class="genric-btn primary circle">Edit Profile</a>
                        </div>
                    </div>
            </div>
        </div>
        </div>
       
    </div>
</div>


