@model ContactU
@{
    ViewData["Title"] = "ContactUs";
	var RoleId = Context.Session.GetInt32("RoleId");
	if (RoleId == 2)
		Layout = "~/Views/Shared/_MakerLayout.cshtml";
	else if (RoleId == 3)
		Layout = "~/Views/Shared/_SenderLayout.cshtml";
	else if (RoleId == 4)
		Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<section class="contact_area section_gap_bottom" style="padding-top: 12rem;">
	<div class="container">
		<center><h2>Contact Us</h2></center>
		<br />
		<div class="row">
			<div class="col-lg-3">
				<div class="contact_info">
					<div class="info_item mb-4">
						<i class="lnr lnr-home"></i>
						<h6>@Model.PoBox</h6>
					</div>
					<div class="info_item mb-4">
						<i class="lnr lnr-phone-handset"></i>
						<h6><a href="#">@Model.MobileNumber</a></h6>
					</div>
					<div class="info_item mb-4">
						<i class="lnr lnr-envelope"></i>
						<h6><a href="#">@Model.Email</a></h6>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<form asp-controller="Home" asp-action="AddContactUsEntry" class="row contact_form" method="post" id="contactForm">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" maxlength="50" required>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" maxlength="50" required>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" maxlength="30" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" maxlength="500" required></textarea>
						</div>
					</div>
					<div class="col-md-12 text-right">
						<button type="submit" value="submit" class="primary-btn">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

